body {
	background-color: yellow;
}

.first-paragraph {
	background-color: black;
	font-size: 21px;
	color: white;
}

.second-paragraph {
	font-size: 27px;
	background-color: white;
	color: black;
}

.blood {
	color: red;
	font-style: italic;
}